<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>RemoteAudio WebUI</title>
  <link rel="stylesheet" href="/static/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/css/bootstrap.css">
  <link rel="stylesheet" href="/static/css/bootstrap-material-design.css">
  <link rel="stylesheet" href="/static/css/ripples.css">
  <link rel="stylesheet" href="/static/css/nouislider.min.css">
  <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
  <nav class="navbar navbar-dark bg-primary navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">RemoteAudio WebUI</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
      </div>
      <!--/.nav-collapse -->
    </div>
  </nav>
  <div id="app">
    <div class="container">
      <div class="starter-template">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="panel panel-primary">
              <div class="panel-heading">
                Connections
              </div>
              <div class="panel-body">
                <div class="list-group">
                  <div class="list-group-item">
                    <div class="row-action-primary">
                      <i class="fa fa-wifi" aria-hidden="true"></i>
                    </div>
                    <div class="row-content">
                      <h4 class="list-group-item-heading">MQTT Broker</h4>
                      <h4 v-if="connectionStatus"><span class="label label-success">Connected</h4>
                      <h4 v-else><span class="label label-danger">Disconnected</h4>
                    </div>
                  </div>
                  <div class="list-group-separator"></div>
                  <div class="list-group-item">
                    <div class="row-action-primary">
                      <i class="fa fa-wifi" aria-hidden="true"></i>
                    </div>
                    <div class="row-content">
                      <h4 class="list-group-item-heading">Server Status</h4>
                      <h4 v-if="serverOnline"><span class="label label-success">Online</h4>
                      <h4 v-else><span class="label label-danger">Offline</h4>
                    </div>
                  </div>                  
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="panel panel-primary">
              <div class="panel-heading">Rx Audio</div>
              <div class="panel-body">
                <div class="list-group">
                  <div class="list-group-item">
                    <button class="btn btn-default btn-raised" v-bind:class="{'btn-success': serverAudioOn}" @click="sendRequestServerAudioOn"><i class="fa fa-volume-up" aria-hidden="true"></i> RX Audio</button>
                  </div>
                  <hr>
                  <h4 class="list-group-item-heading">Volume</h4>
                  <div class="list-group-item">
                    <div id="volumeSlider" class="slider shor"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="panel panel-primary">
              <div class="panel-heading">Tx Audio</div>
              <div class="panel-body">
                <div class="list-group">
                  <div class="list-group-item">
                    <button class="btn btn-default btn-raised" v-bind:class="{'btn-danger': tx}" @click="sendPtt"><i class="fa fa-microphone" aria-hidden="true"></i> TX Audio</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <div class="panel panel-primary">
                <div class="panel-heading"><i class="fa fa-area-chart" aria-hidden="true"></i> Latency (one way)</div>
                <div class="card-block">
                  <canvas id="latencyChart"></canvas>
                </div>
              </div>
            </div>
            <!--<div class="col-lg-3 col-md-3">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  Users Online
                </div>
                <div class="panel-body">
                  <div class="list-group">
                    <div class="list-group-item">
                      <div class="row-action-primary">
                        <i class="fa fa-microphone" aria-hidden="true"></i>
                      </div>
                      <div class="row-content">
                        <h4 class="list-group-item-heading">EC1KR</h4>
                      </div>
                    </div>
                    <div class="list-group-separator"></div>
                    <div class="list-group-item">
                      <div class="row-action-primary">
                        <i class="fa fa-user" aria-hidden="true"></i>
                      </div>
                      <div class="row-content">
                        <h4 class="list-group-item-heading">DH1TW</h4>
                      </div>
                    </div>                  
                  </div>
                </div>
              </div>
            </div>-->
          </div>
        </div>
        <!--<p> Tx User: {{txUser}} </p>-->
      </div>
    </div>
    <div id="connection">
      <p id="connected" class="bg-success" v-bind:class="{'hidden': hideConnectionMsg}" v-if="connected">
        <i class="fa fa-check"></i> Connected to Server
      </p>
      <p id="no-connection" class="bg-danger" v-else="connected">
        <i class="fa fa-spinner fa-spin" aria-hidden="true"></i> Connecting to Server
      </p>
    </div>
  </div>
  <!-- /.container -->
  <script src="/static/js/chart.js"></script>
  <script src="/static/js/vue.js"></script>
  <script src="/static/js/jquery-2.2.3.min.js"></script>
  <script src="/static/js/nouislider.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/material.js"></script>
  <script src="/static/js/ripples.js"></script>
  <script src="/static/js/reconnecting-websocket.js"></script>
  <script src="/static/js/app.js"></script>
</body>

</html>